*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase - NIEMALS committen!
app/google-services.json

# Documentation - optional (entferne diese Zeile wenn du MD-Dateien committen willst)
*.md
